# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/

# Django
*.log
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db